
html{
    height: 100%;
    margin:0;
}

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image:url("..assets/images/floor-tile.png");
    background-repeat: no-repeat;
}

.nav-block{
    display: inline;
}

header{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 40px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    top:0;
    left:0;
}


h1{
    float: left;
    margin:0;
    margin-left: 5%;
}

.header-name{
    background-color: #4aaaa5;
    color: #ffffff;
    padding:20px;
    margin-top: -20px;
    margin-left:175px;
}

ul{
    list-style-type: none;
    margin-right: 200px;
}
li{
   float: right;
   margin-right:5%;
}

a{
    text-decoration: none;
}

#footer{
    clear: both;
    background-color: #666666;
    text-align: center;
    padding: 40px;
    color:#ffffff;
    margin-top:-50px;
    display: block; 
    position: fixed;
    width:100%;
    left:0;
    bottom:0;
    border-top: 8px solid #4aaaa5;
}

input{
    font-size:20px;
}

.form-section{
    display: block;
    border:2px solid black;
    width: 960px;
    height: 600px;
    margin: 0 auto;
    clear: both;
    margin-top:5%;

}

#bio-box{
    border: 2px solid black;
    height: 500px;
    width: 960px;
    margin: 0 auto;

}

#portfolio-box{
    border: 2px solid black;
    width: 960px;
    height:600px;
    margin: 0 auto;
    margin-top: 2%;
}

.bio{
    margin-top: 2%;
}

.contact-header{
    text-align: center;
    font-size: 45px;
    margin-left:5%;
    margin-top:2%;
}

.info{
    margin-left: 25%;
    margin-top:6%;
}



img{
    width: 250px;
    height: 250px;
}

#profile{
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    margin-left:-60px;
    margin-top:30px;

}

p{
    float: right;
    width: 60%;
    font-size: 25px;
}

.portfolio-header,.about-header, .contact-header{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid gray;
    width: 800px;
    padding: 20px;
}

.portfolio-header{
    display: block;
    float: left;

}

.images{
    display: block;
    margin-top:45px;
    clear: both;
    padding: 10px;
    margin-left: 7%;
}