

*{
    box-sizing: border-box;
}

html{
    height: 100%;
    margin:0;
}

body{
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
    background-image:url("../images/floor-tile.png");
}

nav.menu{
    display: inline;
    padding: 2%;
    margin-left: 15%;
    font-family: Arial, Helvetica, sans-serif;

}

header{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: #ffffff;
    padding: 40px;
    border-bottom: 1px solid #cccccc;
    width: 100%;
    top:0;
    left:0;
}


h1{
    float: left;
    margin:0;
    margin-left: 5%;
}

.header-name{
    background-color: #4aaaa5;
    color: #ffffff;
    padding:20px;
    margin-top: -20px;
    margin-left:18%;
}

ul{
    list-style-type: none;
    margin-right: 200px;
}


a{
    text-decoration: none;
    padding: 2%;
}

#footer{
    clear: both;
    background-color: #666666;
    text-align: center;
    padding: 40px;
    color:#ffffff;
    margin-top:-50px;
    display: block; 
    position: fixed;
    width:100%;
    left:0;
    bottom:0;
    border-top: 8px solid #4aaaa5;
}

input{
    font-size:20px;
}

.form-section{
    display: block;
    border:2px solid black;
    width: 960px;
    height: 600px;
    margin: 0 auto;
    clear: both;
    margin-top:2%;
    background-color: #ffffff;
}

#bio-box{
    border: 2px solid black;
    height: 500px;
    width: 960px;
    margin: 0 auto;
    background-color: #ffffff;
    margin-top: 2%;

}

#profile{
    width: 200px;
    height: 200px;
    float: left;
    position: relative;
    margin-left:100px;
    margin-top:30px;

}

#portfolio-box{
    border: 2px solid black;
    width: 960px;
    height:600px;
    margin: 0 auto;
    margin-top: 2%;
    background-color: #ffffff;
}

.bio{
    margin-top: 2%;
}

p{
    float: right;
    width: 60%;
    font-size: 25px;
    margin-right: 5%;
}



.info{
    margin-left: 5%;
    margin-top:6%;
    padding-top: 5%;
}



img{
    width: 250px;
    height: 250px;
    padding: 10px;
}




.portfolio-header,.about-header, .contact-header{
    color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-bottom: 2px solid gray;
    width: 800px;
    padding: 20px;
}

.portfolio-header{
    display: block;
    float: left;

}

.images{
    display: block;
    margin-top:45px;
    clear: both;
    padding: 10px;
    margin-left: 7%;
}


#contact-form ul{
    margin-bottom: 20px;
}

#contact-form li{
    margin-bottom: 10px;
}




label,
input[type=text],
input[type=email],
textarea{
    display: block;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
  height: 35px;
  padding: 0 10px;
  font-size: 14px;
  border: 1px solid #dddddd;
}

textarea{
    height: 200px;
}

.form-group{
    margin-left:2%;
}







/* media queries */


@media screen and (max-width: 980px){
    
    .header-name{
        margin-left: -2px;
    }

   
    
    header{
        width: 100%;
    }
    
    #wrapper{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;

        max-width: 980px;

        padding-right: 10px;
        padding-left: 10px;
    }

    .container{
        max-width: 980px;
    }

   
    .portfolio-header,.about-header, .contact-header{
        color: #4aaaa5;
        border-bottom: 2px solid gray;
        max-width: 980px;
        padding: 20px;
        margin-left: 2%;
        width:95%;
    }

    #bio-box{
        height: 100%;
        width:90%;
    }
    
        
    p{
        float: none;
        width: 100%;
    }

    #profile{
        margin-left:54px;
        margin-top:12px;
        padding:10px;
    }

    nav.menu{
        margin-left: 7%;
    }

    #portfolio-box{
        width:75%;
        height:100%;
    }

   img{
       width: 280px;
   }

   .form-section{
       width: 85%;
       margin-left:2%;
       height:510px;
   }

  

}

@media screen and (max-width: 768px){
    #wrapper{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;

        max-width: 768px;

        padding-right: 10px;
        padding-left: 10px;
    }
  

    header{
        width: 100%;
    }

    .header-name{
        margin-left:-4%;
    }

    #profile{
        margin-left: 63px;
        margin-top: 30px;
        margin-bottom: 3px;
    }

    nav.menu{
        margin-left: 10%;
    }


    .portfolio-header,.about-header, .contact-header{
        color: #4aaaa5;
        border-bottom: 2px solid gray;
        max-width: 768px;
        padding: 20px;
    }

    .container{
        max-width: 768px;
    }

    p{
        float: none;
    }

    
    #portfolio-box{
        width: 95%;
        height: 100%;
    }

    .images{
        margin-left:2%;
    }

    .form-section{
        width: 85%;
        height:510px;
    }

    input[type=text],
    input[type=email],
    textarea {
        width:130%;
    }

}



@media screen and (max-width: 640px){
    #wrapper{
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;

        max-width: 640px;

        padding-right: 10px;
        padding-left: 10px;   
    }

    .portfolio-header,.about-header, .contact-header{
        color: #4aaaa5;
        border-bottom: 2px solid gray;
        max-width: 640px;
        padding: 20px;
    }

    .header-name{
        float: none;
        margin-left:-10%;
        margin-right:-8%;
        margin-top:-40px;
        text-align: center;
        padding: 30px;
    }

    p{
        font-size: 16px;
        line-height: 20px;
    }

    nav.menu{
        padding: 20%;
        margin-left:5%;
    }



    header{
        position: static;
        height: 130px;
    }


    #profile{
        float:none;
        width: 75%;
        height:250px;
        margin-top:2px;
    }
    
    img{
        width:350px;
    }

    .images{
        margin-left:18%;
    }
    input[type=text],
    input[type=email],
    textarea {
        width:150%;
    }


}